<div class="navbar navbar-fixed-top" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:security="http://www.springframework.org/security/tags" version="2.0">
    <div class="navbar-inner">
        <div class="container">
            <jsp:directive.page contentType="text/html;charset=UTF-8"/>
            <jsp:output omit-xml-declaration="yes"/>

            <spring:message code="application_name" var="app_name" htmlEscape="false"/>

            <spring:url value="/" var="root"/>
            <a class="brand" href="${root}">${app_name}</a>

            <c:if test="${empty pageName}">
                <c:set var="pageName" value="other"/>
            </c:if>
        </div>
    </div>
</div>