<div id="main" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:form="http://www.springframework.org/tags/form" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0" xmlns:result="urn:jsptagdir:/WEB-INF/tags/result" xmlns:tab="urn:jsptagdir:/WEB-INF/tags/tab">

    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>

    <div class="row">
        <div class="span12">
            <spring:url var="form_url" value="/jobs"/>
            <form:form action="${form_url}" method="PUT" modelAttribute="jobDescription" enctype="multipart/form-data" class="well">
                <div class="control-group">
                    <form:label cssClass="control-label" for="fileContents" path="fileContents"><spring:message code="job_file"/></form:label><br/>
                    <div class="controls">
                        <form:input cssClass="input-file" path="fileContents" type="file"/>
                    </div>
                </div>

                <spring:message code="job_execute" var="execute_button" htmlEscape="false"/>
                <button type="submit" class="btn">
                    <i class="icon-cog"><c:out value=" "/></i>
                    ${fn:escapeXml(execute_button)}
                </button>
            </form:form>
        </div>
    </div>
</div>