<tab:tabs xmlns:tab="urn:jsptagdir:/WEB-INF/tags/tab" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:spring="http://www.springframework.org/tags">
    <spring:url var="url" value="/nodes/${node.neoId}/bottomup/clients"/>
    <tab:tab id="tab_clients" link="${url}"/>

    <spring:url var="url" value="/nodes/${node.neoId}/bottomup/clients/${client.neoId}/services"/>
    <c:set var="label">
        <c:out value="${client.properties['NAME']}"/> - <spring:message code="label_services"/>
    </c:set>
    <tab:tab id="tab_client_services" link="${url}" render="${not empty client}" label="${label}"/>

    <spring:url var="url" value="/nodes/${node.neoId}/bottomup/services"/>
    <tab:tab id="tab_services" link="${url}" />

    <spring:url var="url" value="/nodes/${node.neoId}/bottomup/nodes"/>
    <tab:tab id="tab_nodes_on_path" link="${url}"/>
</tab:tabs>